body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 7rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: -2rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
}

h5 {
    font-size: 1em;
    font-weight: 400;
}

p {
    font-size: 0.8rem;
    color: #838994;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.top-navigation {
    background-color: white;
}

.top-navigation >.content {
    width: 970px;
    height: 70px;
    margin 0 auto;
    padding: 0px 200px;
    display: inline-block;
    text-align: center;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

img.logo {
    float: center;
    margin-top: 10px;
}

.introduction {
    height: 45rem;
    background-image: url('../images/first-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: center bottom;
    text-align: center;
}

.introduction h1,
.introduction h3,
.introduction button {
    color: white;
    font-weight: 100;
    text-align: center;
}

.introduction button {
    background-color: #f15a29;
    border: 2px solid #f15a29;
    border-radius: 4px;
    text-shadow: none;
    font-size: 1.2rem;
    padding: 16px 26px;
    line-height: 1.33;
}

.introduction h1 {
    font-size: 3.5rem;
    margin-top: 0;
    padding-top: 10rem;
}

.cases {
    width: 100%;
    align-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    -webkit-justify-content: space-around;
    text-align: center;
    margin-bottom: 6rem;
}

.devices {
    box-sizing: border-box width: 33.3333%;
    display: inline-block;
    padding: 1.5rem;
}

.icons li {
    list-style-type: none;
    display: inline;
    text-align: center;
}

footer {
    text-align: center;
}